
 
 body {
     /* background: rgb(183, 190, 193); */
     background-color:  #0F1626;
 }

 .container-main {
     width: 80%;
     margin: 0 auto;
 }
 

 .head {
     padding-left: 20%;
     padding-right: 20%;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .head-img {
     width: ;
     text-align: center;
 }

 .head-tittle {
     font-size: 65px;
     font-weight: bold;
     color: #39abd8;
 }

 .box1 {
     display: flex;
     width: 90%;
     align-items: center;
     justify-content: space-between;
     margin: 0 auto;
 }
.entrada{
    width: 390px;
    height: 150px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
    margin-bottom: 50px;
    margin-top: 90px;
    margin-left: 10%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 12px;
    border: solid 3.5px #99B4BF;
}
 .encriptar{
    width: 339px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-right: 12%;
    font-size: 16px;
    border-radius: 12px;
    text-transform: capitalize;
    background-color:#D9B70D;
    border: solid 3.5px #99B4BF;
 }

.encriptar:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    background-color: #f4f965;
}

 .box2 {
     display: flex;
     width: 90%;
     align-items: center;
     justify-content: space-between;
     margin: 0 auto;
 }

 .container-main .box2 .box2-left #mensaje{
    width: 390px;
    height: 150px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 12px;
    border: solid 3.5px #99B4BF;
 }
.container-main .box2 .box2-left{
    margin-left: 10%;
}

.container-main .box2 .box2-right{
    display: inline-block;
    width: 50%;
    text-align: center;

}

.desencriptar{
    width: 62%;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 10%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    text-transform: capitalize;
    background-color:#D9B70D;
    border: solid 3.5px #99B4BF;
}

.desencriptar:hover{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
background-color: #f4f965;
}

.copiar{
    width: 62%;
    height: 50px;
    margin-bottom: 50px;
    margin-right: 10%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    text-transform: capitalize;
    background-color:#D9B70D;
    border: solid 3.5px #99B4BF;
}

    .copiar:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    background-color: #f4f965;
}

 /* ..................................................... */
 /* ........................................................ */
 /*
pie de pagina, se agrega la ruta de la imagen que multiplica la 
imagen para dar formato
*/

 footer {
     text-align: center;
     padding-top:  160px;
     padding-bottom: 20px;
 }

 .textodepiedepagina {
     color:  #F2DC9B;
     text-align: center;
     font-weight: bold;
     font-family: 'Times New Roman', Times, serif;
     font-size: 15px;
 }

 @media screen and (max-width:480px) {
   
    
    .container-main {
        width: 100%;
        margin: 0 auto;
    }
    
   
    .head {
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
   
    .head-img {
        width:110px ;
        text-align: center;
    }
   
    .head-tittle {
        font-size: 21px;
        font-weight: bold;
        color: #39abd8;
    }
   
    .box1 {
        display: flex;
        width: 110%;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }
   .entrada{
       width: 195px;
       height: 75px;
       font-size: 8px;
       font-family: Arial, Helvetica, sans-serif;
       margin-left: 5%;
       margin-bottom: 25px;
       margin-top: 65px;
       margin-left: 5%;
       padding-left:7.5px;
       padding-right: 7.5px;
       border-radius: 6px;
       border: solid 1.75px #99B4BF;
   }
    .encriptar{
       width: 120px;
       height: 35px;
       font-family: Arial, Helvetica, sans-serif;
       text-align: center;
       margin-right: 7%;
       font-size: 8px;
       border-radius: 6px;
       text-transform: capitalize;
       background-color:#D9B70D;
       border: solid 1.75px #99B4BF;
    }
   
   .encriptar:hover{
       -webkit-transform: scale(1.2);
       -ms-transform: scale(1.2);
       transform: scale(1.2);
       background-color: #f4f965;
   }
   
    .box2 {
        display: flex;
        width: 110%;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }
   
    .container-main .box2 .box2-left #mensaje{
       width: 207px;
       height: 90px;
       font-size: 8px;
       font-family: Arial, Helvetica, sans-serif;
       padding-left: 1.75px;
       padding-right: 1.75px;
       border-radius: 5.5px;
       border: solid 1.75px #99B4BF;
    }
   .container-main .box2 .box2-left{
       margin-left: 5%;
   }
   
   .container-main .box2 .box2-right{
       display: inline-block;
       text-align: center;
   
   }
   
   .desencriptar{
       width: 120px;
       height: 35px;
       margin-top: 25px;
       margin-bottom: 25px;
       margin-right: 14px;
       font-size: 8px;
       font-family: Arial, Helvetica, sans-serif;
       border-radius: 6px;
       text-transform: capitalize;
       background-color:#D9B70D;
       border: solid 1.75px #99B4BF;
   }
   
   .desencriptar:hover{
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
   background-color: #f4f965;
   }
   
   .copiar{
       width: 74%;
       height: 35px;
       margin-bottom: 25px;
       margin-right: 14px;
       font-size: 8px;
       font-family: Arial, Helvetica, sans-serif;
       border-radius: 6px;
       text-transform: capitalize;
       background-color:#D9B70D;
       border: solid 1.75px #99B4BF;
   }
   
       .copiar:hover{
       -webkit-transform: scale(1.2);
       -ms-transform: scale(1.2);
       transform: scale(1.2);
       background-color: #f4f965;
   }



   footer {
    text-align: center;
    padding-top:  90px;
    padding-bottom: 20px;
}

.textodepiedepagina {
    color:  #F2DC9B;
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.gat{
    width: 25%;
}

 }